langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
chromadb
# pypdf
pymupdf # PyMuPDF better than pypdf (supports unicode)
pytest
tqdm
sentence-transformers
huggingface_hub[hf_xet]
numpy
pandas
# sklearn
# matplotlib
# seaborn